:root {
  --pip-hue: 135;
  --pip:      hsl(var(--pip-hue) 100% 55%);
  --pip-hi:   hsl(var(--pip-hue) 100% 75%);
  --pip-60:   hsl(var(--pip-hue) 100% 55% / .6);
  --pip-30:   hsl(var(--pip-hue) 100% 55% / .3);
  --pip-15:   hsl(var(--pip-hue) 100% 55% / .15);
  --screen-bg: hsl(var(--pip-hue) 60% 4%);
  --glow-amt: 1;
  --glow: 0 0 2px var(--pip), 0 0 calc(10px * var(--glow-amt)) var(--pip-60);
  --font-ui: 'Share Tech Mono', monospace;
  --font-display: 'VT323', monospace;
  --rule: 2px;
  --touch: 44px;
}
